.venv
.vscode
# *.pyc
# .npy
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea
__pycache__/
angle_recovery/
numba_cache/
Session.vim
recording.npy
*.egg-info
requirements*.txt
.requirements*.txt
.test*

.vscode/*
!.vscode/setup_isaac_extra_paths.py

# colcon/CMake output
devel/*
log/*
build/*
install/*
bin/*
lib/*
/log/
/install/
/build/
/src/Universal_Robots_ROS2_Description/
rosbag/
.doit*

#docs
docs/build/md/doctrees/
docs/build/html/
docs/build/doctrees/
docs/source/api/*
docs/source/media/test_badge.rst
docs/build/md/markdown/_*/

# rosbags
rosbags/
