.venv
.vscode
# *.pyc
# .npy
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea
__pycache__/
angle_recovery/
numba_cache/
Session.vim
recording.npy
*.egg-info
requirements*.txt

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
devel/*
log/*
build/*
install/*
bin/*
lib/*
/log/
/install/
/build/
/src/Universal_Robots_ROS2_Description/
rosbag/

#docs
docs/build/
docs/source/api/
