[workspace]
name = "motion_stack"
description = "From modular robots with distributed computation, to a simple robotic arm, the motion stack provides control for (multi-)limbed systems."
channels = [ "https://prefix.dev/conda-forge", "https://prefix.dev/motion-stack"]
platforms = ["linux-64", "linux-aarch64"]

# Dependencies used by all environments
[dependencies]
# ms dependencies
python = "*"
pytest = "*"
numpy = "*"
nptyping = "*"
quaternion = "*"
scipy = "*"
spatialmath-python = "*"
roboticstoolbox-python  = "*"
urwid  = "*"
# Build tools
compilers = ">=1.11.0,<2"
cmake = ">=3,<5"
pkg-config = ">=0.29.2,<0.30"
make = "*"
ninja = ">=1.13.1,<2"
# ROS specific tools
rosdep = "*"
colcon-common-extensions = ">=0.3.0,<0.4"
sdl2 = "*"
pysdl2 = "*"
sdl2_image = "*"
sdl2_ttf = "*"
sdl2_mixer = "*"
sdl2_gfx = "*"
asyncio_for_robotics = "*"

# [pypi-dependencies]
# pysdl2 = "*"
# pysdl2-dll = "*"

[target.linux.dependencies]
libgl-devel = "*"

# Define all the different ROS environments
# Each environment corresponds to a different ROS distribution
# and can be activated using the `pixi run/shell -e <environment>` command.
[environments]
default = { features = ["jazzy"] }
humble = { features = ["humble"] }
jazzy = { features = ["jazzy"] }
kilted = { features = ["kilted"] }

### ROS Humble ####
[feature.humble]
channels = ["https://prefix.dev/robostack-humble"]

[feature.humble.dependencies]
# setuptools = "<=58.2.0"
ros-humble-ros-core = "*"
ros-humble-xacro = "*"
ros-humble-joint-state-publisher = "*"
ros-humble-robot-state-publisher = "*"
ros-humble-sensor-msgs = "*"
ros-humble-tf2-sensor-msgs = "*"
ros-humble-std-msgs = "*"
ros-humble-builtin-interfaces = "*"
ros-humble-rviz2 = "*"
ros-humble-rclpy = "*"
ros-humble-rclcpp = "*"
ros-humble-ament-cmake-auto = "*"
ros-humble-rmw-cyclonedds-cpp = "*"
ros-humble-rmw-fastrtps-cpp = "*"
ros-humble-rmw-zenoh-cpp = "*"

### ROS Jazzy ####
[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
# setuptools = "<=61.1.0"
ros-jazzy-ros-core = "*"
ros-jazzy-xacro = "*"
ros-jazzy-joint-state-publisher = "*"
ros-jazzy-robot-state-publisher = "*"
ros-jazzy-sensor-msgs = "*"
ros-jazzy-tf2-sensor-msgs = "*"
ros-jazzy-std-msgs = "*"
ros-jazzy-builtin-interfaces = "*"
ros-jazzy-rviz2 = "*"
ros-jazzy-rclpy = "*"
ros-jazzy-rclcpp = "*"
ros-jazzy-ament-cmake-auto = "*"
ros-jazzy-rmw-cyclonedds-cpp = "*"
ros-jazzy-rmw-fastrtps-cpp = "*"
ros-jazzy-rmw-zenoh-cpp = "*"

### ROS Kilted ####
[feature.kilted]
channels = ["https://prefix.dev/robostack-kilted"]

[feature.kilted.dependencies]
# setuptools = "<=79.0.0"
ros-kilted-ros-core = "*"
ros-kilted-xacro = "*"
ros-kilted-joint-state-publisher = "*"
ros-kilted-robot-state-publisher = "*"
ros-kilted-sensor-msgs = "*"
ros-kilted-tf2-sensor-msgs = "*"
ros-kilted-std-msgs = "*"
ros-kilted-builtin-interfaces = "*"
ros-kilted-rviz2 = "*"
ros-kilted-rclpy = "*"
ros-kilted-rclcpp = "*"
ros-kilted-ament-cmake-auto = "*"
ros-kilted-rmw-cyclonedds-cpp = "*"
ros-kilted-rmw-fastrtps-cpp = "*"
ros-kilted-rmw-zenoh-cpp = "*"

[feature.humble.activation]
# For activation scripts, we use bash for Unix-like systems
scripts = ["install-humble/setup.bash"]

[feature.humble.tasks]
build = "colcon build --symlink-install --cmake-args -Wno-dev -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DPython_FIND_VIRTUALENV=ONLY -DPython3_FIND_VIRTUALENV=ONLY -G Ninja --base-paths ./src --build-base ./build-humble --install-base ./install-humble"
test = "pytest ./src/motion_stack/test/"
cl = "rm -r ./build-humble ./install-humble ./log"

[feature.jazzy.activation]
# For activation scripts, we use bash for Unix-like systems
scripts = ["install-jazzy/setup.bash"]

[feature.jazzy.tasks]
build = "colcon build --symlink-install --cmake-args -Wno-dev -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DPython_FIND_VIRTUALENV=ONLY -DPython3_FIND_VIRTUALENV=ONLY -G Ninja --base-paths ./src --build-base ./build-jazzy --install-base ./install-jazzy "
test = "pytest ./src/motion_stack/test/"
cl = "rm -r ./build-jazzy ./install-jazzy ./log"

[feature.kilted.activation]
# For activation scripts, we use bash for Unix-like systems
scripts = ["install-kilted/setup.bash"]

[feature.kilted.tasks]
build = "colcon build --symlink-install --cmake-args -Wno-dev -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DPython_FIND_VIRTUALENV=ONLY -DPython3_FIND_VIRTUALENV=ONLY -G Ninja --base-paths ./src --build-base ./build-kilted --install-base ./install-kilted "
test = "pytest ./src/motion_stack/test/"
cl = "rm -r ./build-kilted ./install-kilted ./log"
