<?xml version="1.0" encoding="UTF-8"?>
<robot name="hero_dragon" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="ThisPackage" value="urdf_packer"></xacro:property>
  <xacro:property name="Filename" value="hero_7dof"></xacro:property>
  <xacro:property name="UrdfDataPath" value="package://${ThisPackage}/urdf/${Filename}"></xacro:property>
  <xacro:property name="MeshPath" value="package://${ThisPackage}/meshes/${Filename}"></xacro:property>
  <!-- change what leg is where -->
  <!--  -->
  <!--  -->
  <xacro:property name="wheelfront" value="wheel12_"></xacro:property>
  <xacro:property name="wheelback" value="wheel14_"></xacro:property>
  <xacro:property name="bridge_leg" value="4"></xacro:property>
  <!-- also change that here !!!!    V   -->
  <xacro:include filename="hero_7dofm4.xacro"></xacro:include>
  <xacro:property name="manip_leg" value="3"></xacro:property>
  <!-- also change that here !!!!    V   -->
  <xacro:include filename="hero_7dofm3.xacro"></xacro:include>
  <!--  -->
  <!--  -->
  <!--  -->
  <link name="base_link"></link>
  <xacro:include filename="hero_wheel_module.xacro"></xacro:include>
  <joint name="bfix" type="fixed">
  <origin rpy="0 ${pi/4 - pi/2} ${pi}" xyz="0 0 0"></origin>
    <parent link="base_link"></parent>
    <child link="base_link45"></child>
  </joint>
  <link name="base_link45"></link>
  <joint name="bfixstraight" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.160"></origin>
    <parent link="base_link45"></parent>
    <child link="${wheelfront}in"></child>
  </joint>
  <!---->
  <!---->
  <xacro:add_wheel prefix="${wheelfront}"></xacro:add_wheel>
  <!-- <link name="${wheelfront}c45"></link> -->
  <!-- <joint name="${wheelfront}fix45" type="fixed"> -->
  <!--   <origin rpy="${-pi/4} 0 0" xyz="0 0 0"></origin> -->
  <!--   <parent link="${wheelfront}center"></parent> -->
  <!--   <child link="${wheelfront}c45"></child> -->
  <!-- </joint> -->
  <joint name="${wheelfront}fixin" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}in"></parent>
    <child link="leg${manip_leg}gripper1"></child>
  </joint>
  <!---->
  <!---->
  <joint name="${wheelback}fix1" type="fixed">
    <origin rpy="0 0 ${0*pi}" xyz="0 0 0"></origin>
    <parent link="leg${bridge_leg}gripper2"></parent>
    <child link="${wheelback}in"></child>
  </joint>
  <xacro:add_wheel prefix="${wheelback}"></xacro:add_wheel>
  <link name="${wheelback}c45"></link>
  <joint name="fix45${wheelback}" type="fixed">
    <origin rpy="${pi/4} 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelback}center"></parent>
    <child link="${wheelback}c45"></child>
  </joint>
  <joint name="${wheelfront}fix_out" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}out"></parent>
    <child link="leg${bridge_leg}gripper1"></child>
  </joint>
  <!-- <xacro:add_wheel  prefix="${manip_leg}" /> -->
  <!---->
  <!-- <joint name="fixwheel1-${manip_leg}" type="fixed"> -->
  <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
  <!-- <parent link="leg4gripper2"/> -->
  <!-- <child link="${manip_leg}wheel_in"/> -->
  <!-- </joint> -->
</robot>
