<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero_7dofm1">

<xacro:property name="ThisPackage" value="ros2_m_hero_pkg" />

<xacro:include filename="hero_7dof_arm.xacro"/>

<xacro:get_hero prefix = "leg4" 
off_base_link_link2 = "-1.5968164926267214"
off_link2_link3 = "-1.5249186659861529"
off_link3_link4 = "-1.1246189568997114"
off_link4_link5 = "-1.2173329162057398"
off_link5_link6 = "-0.4995871839710359"
off_link6_link7 = "-1.6035269564465078"
off_link7_link8 = "-0.8002183286638307"
/>

  <!-- Rest of your new robot description -->
</robot>
