<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero_dragon">

<xacro:property name="ThisPackage" value="urdf_packer" />
<xacro:property name="Filename" value="hero_7dof" />
<xacro:property name="UrdfDataPath" value="package://${ThisPackage}/urdf" />

<link name="base_link" />

<joint name="fix1" type="fixed">
<origin xyz="-0.6 0 0" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="leg1gripper1"/>
</joint>

<joint name="fix2" type="fixed">
<origin xyz="0.6 0 0" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="leg2gripper1"/>
</joint>

<joint name="fix3" type="fixed">
<origin xyz="-1.4 0 0" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="leg3gripper1"/>
</joint>

<joint name="fix4" type="fixed">
<origin xyz="1.4 0 0" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="leg4gripper1"/>
</joint>

<xacro:include filename="hero_7dofm1.xacro"/>
<xacro:include filename="hero_7dofm2.xacro"/>
<xacro:include filename="hero_7dofm3.xacro"/>
<xacro:include filename="hero_7dofm4.xacro"/>

<xacro:include filename="hero_wheel_module.xacro"/>

<xacro:add_wheel prefix="wheel11_" />
<joint name="fix11" type="fixed">
<origin xyz="0.2 2 0" rpy="0 0 ${pi/2}"/>
<parent link="base_link"/>
<child link="wheel11_in"/>
</joint>

<xacro:add_wheel prefix="wheel12_" />
<joint name="fix12" type="fixed">
<origin xyz="0.6 2 0" rpy="0 0 ${pi/2}"/>
<parent link="base_link"/>
<child link="wheel12_in"/>
</joint>

<xacro:add_wheel prefix="wheel13_" />
<joint name="fix13" type="fixed">
<origin xyz="1 2 0" rpy="0 0 ${pi/2}"/>
<parent link="base_link"/>
<child link="wheel13_in"/>
</joint>

<xacro:add_wheel prefix="wheel14_" />
<joint name="fix14" type="fixed">
<origin xyz="1.4 2 0" rpy="0 0 ${pi/2}"/>
<parent link="base_link"/>
<child link="wheel14_in"/>
</joint>


</robot>
