<?xml version="1.0" encoding="UTF-8"?>
<robot name="hero_vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vehicle" params="bridge_limb:=1 wheel_front:=11 wheel_back:=12 ">

  <xacro:property name="wheel_front_pre" value="wheel${wheel_front}_"></xacro:property>
  <xacro:property name="wheel_back_pre" value="wheel${wheel_back}_"></xacro:property>

    <xacro:include filename="hero_7dof_macro.xacro"></xacro:include>
    <xacro:get_hero prefix="leg${bridge_limb}"></xacro:get_hero>

    <xacro:include filename="hero_wheel_macro.xacro"></xacro:include>
    <xacro:add_wheel prefix="${wheel_front_pre}"></xacro:add_wheel>
    <xacro:add_wheel prefix="${wheel_back_pre}"></xacro:add_wheel>

  <link name="base_link"></link>
  <xacro:include filename="hero_wheel_macro.xacro"></xacro:include>
  <joint name="bfix" type="fixed">
  <origin rpy="0 ${- pi/2} ${pi}" xyz="0 0 0"></origin>
    <parent link="base_link"></parent>
    <child link="base_link45"></child>
  </joint>
  <link name="base_link45"></link>
  <joint name="bfixstraight" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.160"></origin>
    <parent link="base_link45"></parent>
    <child link="${wheel_front_pre}in"></child>
  </joint>
  <!---->
  <!---->
  <joint name="${wheel_back_pre}fix1" type="fixed">
    <origin rpy="0 0 ${0*pi}" xyz="0 0 0"></origin>
    <parent link="leg${bridge_limb}gripper2"></parent>
    <child link="${wheel_back_pre}in"></child>
  </joint>
  <link name="${wheel_back_pre}c45"></link>
  <joint name="fix45${wheel_back_pre}" type="fixed">
    <origin rpy="${0} 0 0" xyz="0 0 0"></origin>
    <parent link="${wheel_back_pre}center"></parent>
    <child link="${wheel_back_pre}c45"></child>
  </joint>
  <joint name="${wheel_front_pre}fix_out" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheel_front_pre}out"></parent>
    <child link="leg${bridge_limb}gripper1"></child>
  </joint>
  </xacro:macro>
</robot>

