<?xml version="1.0" encoding="UTF-8"?>
<robot name="minimal" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="hero_minimal_macro.xacro"></xacro:include>
  <xacro:arg default="1" name="limb"></xacro:arg>
  <xacro:arg default="11" name="wheel"></xacro:arg>
  <xacro:property name="limb_val" value="$(arg limb)"></xacro:property>
  <xacro:property name="wheel_val" value="$(arg wheel)"></xacro:property>
  <xacro:minimal limb="${limb_val}" wheel="${wheel_val}"></xacro:minimal>
</robot>
