<?xml version="1.0" encoding="UTF-8"?>
<robot name="hero_vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- change what leg is where -->
  <!--  -->
  <!--  -->
  <xacro:property name="wheelfront" value="wheel11_"></xacro:property>
  <xacro:property name="bridge_leg" value="1"></xacro:property>
  <!-- also change that here !!!!    V   -->
  <xacro:include filename="hero_7dofm1.xacro"></xacro:include>
  <!--  -->
  <!--  -->
  <!--  -->
  <link name="base_link"></link>
  <xacro:include filename="hero_wheel_module.xacro"></xacro:include>
  <joint name="bfix" type="fixed">
  <origin rpy="0 ${- pi/2} ${pi}" xyz="0 0 0"></origin>
    <parent link="base_link"></parent>
    <child link="base_link45"></child>
  </joint>
  <link name="base_link45"></link>
  <joint name="bfixstraight" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.160"></origin>
    <parent link="base_link45"></parent>
    <child link="${wheelfront}in"></child>
  </joint>
  <!---->
  <!---->
  <xacro:add_wheel prefix="${wheelfront}"></xacro:add_wheel>
  <joint name="${wheelfront}fix_out" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}out"></parent>
    <child link="leg${bridge_leg}gripper1"></child>
  </joint>
</robot>
