<?xml version="1.0" encoding="UTF-8"?>
<robot name="hero_dragon" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="ThisPackage" value="urdf_packer"></xacro:property>
  <xacro:property name="Filename" value="hero_7dof"></xacro:property>
  <xacro:property name="UrdfDataPath" value="package://${ThisPackage}/urdf/${Filename}"></xacro:property>
  <xacro:property name="MeshPath" value="package://${ThisPackage}/meshes/${Filename}"></xacro:property>
  <!-- change what leg is where -->
  <!--  -->
  <!--  -->
  <xacro:property name="wheelfront" value="14"></xacro:property>
  <xacro:property name="wheelback" value="12"></xacro:property>
  <xacro:property name="main_leg" value="2"></xacro:property>
  <!-- also change that here !!!!    V   -->
  <xacro:include filename="hero_7dofm2.xacro"></xacro:include>
  <xacro:property name="manip_leg" value="4"></xacro:property>
  <!-- also change that here !!!!    V   -->
  <xacro:include filename="hero_7dofm4.xacro"></xacro:include>
  <!--  -->
  <!--  -->
  <!--  -->
  <link name="base_link"></link>
  <xacro:include filename="wheel_macro.xacro"></xacro:include>
  <joint name="bfix" type="fixed">
    <origin rpy="${1*pi/4} 0 ${-pi/2}" xyz="0 0 0"></origin>
    <parent link="base_link"></parent>
    <child link="base_link45"></child>
  </joint>
  <link name="base_link45"></link>
  <joint name="bfixstraight" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.165"></origin>
    <parent link="base_link45"></parent>
    <child link="${wheelfront}wheel_in"></child>
  </joint>
  <!---->
  <!---->
  <xacro:add_wheel prefix="${wheelfront}"></xacro:add_wheel>
  <link name="wheel${wheelfront}c45"></link>
  <joint name="fix45${wheelfront}" type="fixed">
    <origin rpy="${-pi/4} 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}wheel_center"></parent>
    <child link="wheel${wheelfront}c45"></child>
  </joint>
  <joint name="fixwheel${wheelfront}" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}wheel_in"></parent>
    <child link="leg${main_leg}gripper1"></child>
  </joint>
  <!---->
  <!---->
  <joint name="fixwheel${wheelback}" type="fixed">
    <origin rpy="0 0 ${0*pi}" xyz="0 0 0"></origin>
    <parent link="leg${main_leg}gripper2"></parent>
    <child link="${wheelback}wheel_in"></child>
  </joint>
  <xacro:add_wheel prefix="${wheelback}"></xacro:add_wheel>
  <link name="wheel${wheelback}c45"></link>
  <joint name="fix45${wheelback}" type="fixed">
    <origin rpy="${pi/4} 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelback}wheel_center"></parent>
    <child link="wheel${wheelback}c45"></child>
  </joint>
  <joint name="fixwheel1-${wheelback}" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"></origin>
    <parent link="${wheelfront}wheel_out"></parent>
    <child link="leg${manip_leg}gripper1"></child>
  </joint>
  <!-- <xacro:add_wheel  prefix="${manip_leg}" /> -->
  <!---->
  <!-- <joint name="fixwheel1-${manip_leg}" type="fixed"> -->
  <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
  <!-- <parent link="leg4gripper2"/> -->
  <!-- <child link="${manip_leg}wheel_in"/> -->
  <!-- </joint> -->
</robot>
