<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero_dragon">

<xacro:property name="ThisPackage" value="urdf_packer" />
<xacro:property name="Filename" value="hero_7dof" />
<xacro:property name="UrdfDataPath" value="package://${ThisPackage}/urdf/${Filename}" />
<xacro:property name="MeshPath" value="package://${ThisPackage}/meshes/${Filename}" />

  <!-- Include the original xacro file -->
<link name="base_link" />
<xacro:include filename="wheel_macro.xacro"/>
<xacro:include filename="hero_7dofm4.xacro" ns="leg4"/>
<xacro:include filename="hero_7dofm3.xacro" ns="leg3"/>

<joint name="bfix" type="fixed">
<origin xyz="0 0 0" rpy="${1*pi/4} 0 0"/>
<parent link="base_link"/>
<child link="base_link45"/>
</joint>

<link name="base_link45" />
<joint name="bfixstraight" type="fixed">
<origin xyz="0 0 0.165" rpy="0 0 0"/>
<parent link="base_link45"/>
<child link="1wheel_in"/>
</joint>

<xacro:add_wheel prefix="1" />
<link name="wheel1c45" />
<joint name="fix451" type="fixed">
<origin xyz="0 0 0" rpy="${-pi/4} 0 0"/>
<parent link="1wheel_center"/>
<child link="wheel1c45"/>
</joint>


<joint name="fixwheel1" type="fixed">
<origin xyz="0 0 0" rpy="0 0 0"/>
<parent link="1wheel_in"/>
<child link="leg4gripper1"/>
</joint>

<joint name="fixwheel2" type="fixed">
<origin xyz="0 0 0" rpy="0 0 ${0*pi}"/>
<parent link="leg4gripper2"/>
<child link="2wheel_in"/>
</joint>

<xacro:add_wheel prefix="2" />

<link name="wheel2c45" />
<joint name="fix452" type="fixed">
<origin xyz="0 0 0" rpy="${pi/4} 0 0"/>
<parent link="2wheel_center"/>
<child link="wheel2c45"/>
</joint>

<joint name="fixwheel1-2" type="fixed">
<origin xyz="0 0 0" rpy="0 0 0"/>
<parent link="1wheel_out"/>
<child link="leg3gripper1"/>
</joint>

<!-- <xacro:add_wheel  prefix="3" /> -->
<!---->
<!-- <joint name="fixwheel1-3" type="fixed"> -->
<!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
<!-- <parent link="leg4gripper2"/> -->
<!-- <child link="3wheel_in"/> -->
<!-- </joint> -->


</robot>
