<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero_7dofm4">

<xacro:property name="ThisPackage" value="urdf_packer" />
<xacro:property name="Filename" value="hero_7dof" />
<xacro:property name="UrdfDataPath" value="package://${ThisPackage}/urdf/${Filename}" />
<xacro:property name="MeshPath" value="package://${ThisPackage}/meshes/${Filename}" />

  <!-- Include the original xacro file -->
<xacro:include filename="${Filename}.xacro"/>
<xacro:get_hero prefix = "leg4" 
off_base_link_link2 = "-0.2"
off_link2_link3 = "-0.2"
off_link3_link4 = "-0.2"
off_link4_link5 = "-0.2"
off_link5_link6 = "-0.2"
off_link6_link7 = "-0.2"
off_link7_link8 = "-0.2"
/>

  <!-- Rest of your new robot description -->
</robot>
